<a href="https://colab.research.google.com/github/RadhikaDhama/Python-practicals/blob/main/Practicals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2. Write a Python function to produce the outputs such as:
#(a) 1
#    21
#    321
#    4321
def main():
    n=int(input('enter no.rows:'))
    for i in range(0,n):
        for j in range(i+1,0,-1):
            print(j,end='')
        print()
if __name__=='__main__':
    main()

enter no.rows:4
1
21
321
4321

In [ ]:
#b)  1
#   121
#  12321
# 1234321
#  12321
#   121
#    1
n = int(input('Enter no of rows '))
for i in range(1, n+1):
    for j in range(1, n-i+1):
        print(end=' ')
    for j in range (1, i+ 1):
        print(j, end='')
    for j in range (i-1, 0, -1):
        print(j, end='')
    print()
for i in range (1,n):
    for j in range(1, i+1):
        print(end=' ')
    for j in range (1, n-i):
        print(j, end='')
    for j in range (n-i, 0, -1):
        print(j, end='')
    print()

Enter no of rows 4
   1
  121
 12321
1234321
 12321
  121
   1

In [ ]:
# (3)Write a Python program to illustrate the various functions of math module     
import math
print(math.exp(20))
print(math.pow(25,5))
print(math.sqrt(2250))
print(math.floor(6.325))
print(math.log(25,5))
print(math.ceil(5.75))
print(math.fabs(-50))
print(math.log10(1))
print(math.cos(3.14/3))
print(math.asin(1))
print(math.degrees(math.pi/2))
print(math.radians(360))
print(math.fmod(25,4))
print(math.isfinite(67/4))
print(math.isinf(-45.8))
print(math.isinf(math.inf))
print(float(math.inf))

485165195.4097903
9765625.0
47.43416490252569
6
2.0
6
50.0
0.0
0.5004596890082058
1.5707963267948966
90.0
6.283185307179586
1.0
True
False
True
inf

In [ ]:
#4. Write a Python program to produce a table of sins, cosines and tangents. Make a 
#variable x in range from 0 to 10 in steps of 0.2. For each value of x, print the 
#value of sin(x), cos(x) and tan(x)

x=0
while x<10:
  import math
  print(x)
  print("sin",x," is",math.cos(x))
  print("cos",x," is",math.sin(x))
  print("tan",x," is",math.tan(x))
  x+=0.2

0
sin 0  is 1.0
cos 0  is 0.0
tan 0  is 0.0
0.2
sin 0.2  is 0.9800665778412416
cos 0.2  is 0.19866933079506122
tan 0.2  is 0.2027100355086725
0.4
sin 0.4  is 0.9210609940028851
cos 0.4  is 0.3894183423086505
tan 0.4  is 0.4227932187381618
0.6000000000000001
sin 0.6000000000000001  is 0.8253356149096782
cos 0.6000000000000001  is 0.5646424733950355
tan 0.6000000000000001  is 0.6841368083416924
0.8
sin 0.8  is 0.6967067093471654
cos 0.8  is 0.7173560908995228
tan 0.8  is 1.0296385570503641
1.0
sin 1.0  is 0.5403023058681398
cos 1.0  is 0.8414709848078965
tan 1.0  is 1.5574077246549023
1.2
sin 1.2  is 0.3623577544766736
cos 1.2  is 0.9320390859672263
tan 1.2  is 2.5721516221263188
1.4
sin 1.4  is 0.16996714290024104
cos 1.4  is 0.9854497299884601
tan 1.4  is 5.797883715482887
1.5999999999999999
sin 1.5999999999999999  is -0.029199522301288593
cos 1.5999999999999999  is 0.9995736030415052
tan 1.5999999999999999  is -34.23253273555758
1.7999999999999998
sin 1.7999999999999998  is -0.2272020946930869
cos 1.7999999999999998  is 0.9738476308781953
tan 1.7999999999999998  is -4.286261674628067
1.9999999999999998
sin 1.9999999999999998  is -0.4161468365471422
cos 1.9999999999999998  is 0.9092974268256818
tan 1.9999999999999998  is -2.18503986326152
2.1999999999999997
sin 2.1999999999999997  is -0.5885011172553455
cos 2.1999999999999997  is 0.8084964038195903
tan 2.1999999999999997  is -1.373823056768796
2.4
sin 2.4  is -0.7373937155412454
cos 2.4  is 0.675463180551151
tan 2.4  is -0.9160142896734107
2.6
sin 2.6  is -0.8568887533689473
cos 2.6  is 0.5155013718214642
tan 2.6  is -0.6015966130897586
2.8000000000000003
sin 2.8000000000000003  is -0.9422223406686583
cos 2.8000000000000003  is 0.33498815015590466
tan 2.8000000000000003  is -0.3555298316511756
3.0000000000000004
sin 3.0000000000000004  is -0.9899924966004455
cos 3.0000000000000004  is 0.14112000805986677
tan 3.0000000000000004  is -0.14254654307427736
3.2000000000000006
sin 3.2000000000000006  is -0.998294775794753
cos 3.2000000000000006  is -0.05837414342758053
tan 3.2000000000000006  is 0.05847385445957909
3.400000000000001
sin 3.400000000000001  is -0.9667981925794608
cos 3.400000000000001  is -0.2555411020268321
tan 3.400000000000001  is 0.2643169008674261
3.600000000000001
sin 3.600000000000001  is -0.8967584163341465
cos 3.600000000000001  is -0.44252044329485324
tan 3.600000000000001  is 0.49346672998490493
3.800000000000001
sin 3.800000000000001  is -0.790967711914416
cos 3.800000000000001  is -0.61185789094272
tan 3.800000000000001  is 0.7735560905031279
4.000000000000001
sin 4.000000000000001  is -0.6536436208636113
cos 4.000000000000001  is -0.7568024953079289
tan 4.000000000000001  is 1.1578212823495797
4.200000000000001
sin 4.200000000000001  is -0.49026082134069865
cos 4.200000000000001  is -0.8715757724135886
tan 4.200000000000001  is 1.7777797745088455
4.400000000000001
sin 4.400000000000001  is -0.3073328699784185
cos 4.400000000000001  is -0.9516020738895163
tan 4.400000000000001  is 3.096323780649755
4.600000000000001
sin 4.600000000000001  is -0.1121525269350531
cos 4.600000000000001  is -0.9936910036334646
tan 4.600000000000001  is 8.860174895648187
4.800000000000002
sin 4.800000000000002  is 0.08749898343944816
cos 4.800000000000002  is -0.9961646088358406
tan 4.800000000000002  is -11.38487065424269
5.000000000000002
sin 5.000000000000002  is 0.28366218546322797
cos 5.000000000000002  is -0.958924274663138
tan 5.000000000000002  is -3.3805150062465636
5.200000000000002
sin 5.200000000000002  is 0.46851667130037866
cos 5.200000000000002  is -0.8834546557201524
tan 5.200000000000002  is -1.8856418775197559
5.400000000000002
sin 5.400000000000002  is 0.634692875942636
cos 5.400000000000002  is -0.772764487555986
tan 5.400000000000002  is -1.2175408246205508
5.600000000000002
sin 5.600000000000002  is 0.7755658785102513
cos 5.600000000000002  is -0.6312666378723195
tan 5.600000000000002  is -0.8139432836896983
5.8000000000000025
sin 5.8000000000000025  is 0.8855195169413201
cos 5.8000000000000025  is -0.46460217941375503
tan 5.8000000000000025  is -0.5246662219467968
6.000000000000003
sin 6.000000000000003  is 0.9601702866503667
cos 6.000000000000003  is -0.2794154981989233
tan 6.000000000000003  is -0.29100619138474626
6.200000000000003
sin 6.200000000000003  is 0.9965420970232177
cos 6.200000000000003  is -0.08308940281749375
tan 6.200000000000003  is -0.08337771486592593
6.400000000000003
sin 6.400000000000003  is 0.9931849187581923
cos 6.400000000000003  is 0.11654920485049629
tan 6.400000000000003  is 0.1173489474610842
6.600000000000003
sin 6.600000000000003  is 0.9502325919585285
cos 6.600000000000003  is 0.3115413635133812
tan 6.600000000000003  is 0.3278580067131374
6.800000000000003
sin 6.800000000000003  is 0.8693974903498235
cos 6.800000000000003  is 0.49411335113861127
tan 6.800000000000003  is 0.568339978690061
7.0000000000000036
sin 7.0000000000000036  is 0.7539022543433023
cos 7.0000000000000036  is 0.6569865987187917
tan 7.0000000000000036  is 0.871447982724325
7.200000000000004
sin 7.200000000000004  is 0.6083513145322517
cos 7.200000000000004  is 0.7936678638491553
tan 7.200000000000004  is 1.3046209400556479
7.400000000000004
sin 7.400000000000004  is 0.43854732757438714
cos 7.400000000000004  is 0.8987080958116285
tan 7.400000000000004  is 2.049284169128104
7.600000000000004
sin 7.600000000000004  is 0.2512598425822514
cos 7.600000000000004  is 0.9679196720314874
tan 7.600000000000004  is 3.8522656946847094
7.800000000000004
sin 7.800000000000004  is 0.053955420562645316
cos 7.800000000000004  is 0.9985433453746052
tan 7.800000000000004  is 18.506821649462253
8.000000000000004
sin 8.000000000000004  is -0.14550003380861704
cos 8.000000000000004  is 0.9893582466233812
tan 8.000000000000004  is -6.799711455220211
8.200000000000003
sin 8.200000000000003  is -0.3391548609838379
cos 8.200000000000003  is 0.9407305566797719
tan 8.200000000000003  is -2.77374929538339
8.400000000000002
sin 8.400000000000002  is -0.5192886541166871
cos 8.400000000000002  is 0.8545989080882795
tan 8.400000000000002  is -1.6457107262278954
8.600000000000001
sin 8.600000000000001  is -0.6787200473200138
cos 8.600000000000001  is 0.7343970978741122
tan 8.600000000000001  is -1.0820324237864258
8.8
sin 8.8  is -0.811093014061656
cos 8.8  is 0.5849171928917617
tan 8.8  is -0.7211468755756028
9.0
sin 9.0  is -0.9111302618846769
cos 9.0  is 0.4121184852417566
tan 9.0  is -0.45231565944180985
9.2
sin 9.2  is -0.9748436214041636
cos 9.2  is 0.22288991410024764
tan 9.2  is -0.22864171155902654
9.399999999999999
sin 9.399999999999999  is -0.9996930420352065
cos 9.399999999999999  is 0.02477542545335954
tan 9.399999999999999  is -0.024783032802670062
9.599999999999998
sin 9.599999999999998  is -0.9846878557941273
cos 9.599999999999998  is -0.17432678122297787
tan 9.599999999999998  is 0.17703760658486795
9.799999999999997
sin 9.799999999999997  is -0.9304262721047546
cos 9.799999999999997  is -0.3664791292519251
tan 9.799999999999997  is 0.3938830407517384
9.999999999999996
sin 9.999999999999996  is -0.8390715290764544
cos 9.999999999999996  is -0.5440211108893669
tan 9.999999999999996  is 0.6483608274590816

In [ ]:
#5. Write a program that reads an integer value and prints “leap year” or “not a leap 
#year”
def main():
    year=int(input('\nenter year to check it is leap year or not'))
    if (year%4)==0: 
      print('*IT IS A LEAP YEAR*')
    else:
      print('*IT IS NOT A LEAP YEAR*')
if __name__=='__main__':
    main()

enter year to check it is leap year or not2014
*IT IS NOT A LEAP YEAR*

In [ ]:
#6. Write a menu driven program to calculate the area of given building. Accept 
#suitable inputs and use suitable assertions.
def square():
    x = int(input("Enter a side of the building  : "))
    print("Area of building is  : ", x*x)
def rectangle():
    l = int(input("Enter Length of the buliding   : "))
    b = int(input("Enter Breadth of the building  : "))
    print("Area of the building is                :  ", l*b)
def circle():
    r = int(input("Enter the radius of building   : "))
    print("Area of the building is                : ",3.14*(r**2) )

print("what is the shape of building? ")
print("1) Square? ")
print("2) Rectangle? ")
print("3) Circle? ")
choice = int(input("Enter your choice  : "))
if choice == 1:
    square()
elif choice == 2:
    rectangle()
elif choice == 3:
    circle()
else:
  print("Check the options again and retry : ")

what is the shape of bulding?
1) Square?
2) Rectangle?
3) Circle?
Enter your choice  : 2
Enter Length of the buliding   : 45
Enter Breadth of the building  : 87
Area of the building is                :   3915

In [ ]:
#7. Write a Python function that takes a number as an input from the user and 
#computes its factorial
product = 1
n = int(input("Enter the number of which u need factorial  : "))
if n<0:
 print("Factorial does not exist for negative number -_- ")
elif n==0:
 print("The factorial of 0 is 1")
else:
  for i in range(1,n+1):
    product = product*i
  print("The factorial of ",n," is ",product)

Enter the number of which u need factorial  : 4
The factorial of  4  is  24

In [ ]:
#8. Write a Python function to generate the Fibonacci sequence till a 
#“n”th term
def Fibonacci_number():
    n = int(input("enter no of term you want till  find fibonnaci series   :  "))
    first=0
    second=1
    for i in range(0,n):
      print(first,end=" ")
      temp=first
      first=second
      second=temp+second
Fibonacci_number()

enter no of term you want till  find fibonnaci series   :  6
0 1 1 2 3 5

In [ ]:
#9. Write a function that takes a number as an input and finds its reverse and 
#computes the sum of its digits.
def reverse_n():
    n = int(input("Enter a number  : "))
    num=n
    reverse=0
    while (n>0):
        rem = n % 10
        reverse = reverse * 10 + rem
        n = n // 10
    print(reverse, "is the reverse of ",num)  
    
      
def sum_n():
    n = int(input("Enter a number  : "))
    num=n
    sum =0
    while(n > 0):
        rem = n % 10
        sum = sum + rem
        n = n // 10

    print(sum, "is the sum of digits of ",num)

reverse_n()
sum_n()

Enter a number  : 456
654 is the reverse of  456
Enter a number  : 456
15 is the sum of digits of  456

In [ ]:
5//2

2

In [ ]:
#10. Write a function that takes two numbers as input parameters and returns their 
#least common multiple.
def computing_lcm():

   n1 = int(input("Enter first number: "))
   n2 = int(input("Enter second number:"))
   if n1>n2:
       higher = n1
   else:
       higher = n2
   value=higher
   while(True):
       if((higher % n1 == 0) and (higher % n2== 0)):
           lcm = higher
           break 
       else:
         higher=higher+value

   return lcm

print("The L.C.M. is", computing_lcm())

Enter first number: 5
Enter second number:10
The L.C.M. is 10

In [ ]:
#write a function that takes a number as an input and determine whether it is 
#prime or not
n=int(input("enter a number:"))
if n==1:
  print("It is not prime")
elif n>1:
  for i in range(2,n):
    if (n%i)==0:
       print("It is composite")
       break
    else:
      print("It is prime")
      break
else:
     print("invalid input")

enter a number:11
It is prime

In [ ]:
#12. Write a function that finds the sum of the 
#a) first n odd terms 
#b) first n even terms
#c) 1, 2, 3,4,5,6,7,8,9,.. till n-term
def odd():
    sum = 0
    n = int(input("Enter the term "))
    for i in range (1,n+1):
        if i%2 == 1 :
            sum += i
        else:
            continue
    return(print("term = ",i,", sum till this step = ", sum ))
odd()
def even():
    sum = 0
    n = int(input("Enter the term "))
    for i in range (1,n+1):
        if i%2 == 0 :
            sum += i
        else:
            continue
    return(print("term = ",i,", sum till this step = ", sum ))
even()
def sum_natural():
  num=int(input("Enter the number: "))
  sum=num*(num+1)
  result=sum/2
  return(result)
sum_natural()

Enter the term 6
term =  6 , sum till this step =  9
Enter the term 6
term =  6 , sum till this step =  12
Enter the number: 5

15.0

In [ ]:
#13. Write a Python function that takes a string as an input from the user and 
#determines whether it is palindrome or not.
word=input("Enter the word: ")
reverse=word[::-1]
if (word==reverse):
  print("The given input is palindrome")
else:
  print("The given input is not palindrome")

Enter the word: madam
The given input is palindrome

In [ ]:
#14. Write a function that takes a sentence as input from the user and calculates the 
#frequency of each letter. Use a variable of dictionary type to maintain the count
sent=input("Enter the sentence: ")
d1=dict()
for i in sent:
  if i in d1:
    d1[i]=d1[i]+1
  else:
    d1[i]=1
print(d1)

Enter the sentence: I am learning python
{'I': 1, ' ': 3, 'a': 2, 'm': 1, 'l': 1, 'e': 1, 'r': 1, 'n': 3, 'i': 1, 'g': 1, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

In [ ]:
#15. Write a Python function that prints a dictionary where the keys are numbers 
#between 1 and 5 and the values are cubes of the keys.
dict_1=dict()
for i in range(1,6):
  dict_1[i]=i**3
print(dict_1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
#16. Consider a tuple t1=(1,2,5,7,9,2,4,6,8,10). Write a program to perform following 
#operations:
#a. Print half the values of tuple in one line and the other half in the next line.
#b. Print another tuple whose values are even numbers in the given tuple.
#c. Concatenate a tuple t2=(11,13,15) witht1.
#d. Return maximum and minimum value from this tuple
t1=(1,2,5,7,9,2,4,6,8,10)
a=t1[0:5]
b=t1[5:11]
print(a)
print(b)
#b
t2=()
for i in t1:
  if i %2==0:
    list_1=list(t2)
    list_1.append(i)
    new=tuple(list_1)
  else:
    continue
print(new)
#c
t2=(11,13,15)
print(t1+t2)
#d
a=min(t1)
b=max(t1)
print("The min value is ",a)
print("The max value is ",b)

(1, 2, 5, 7, 9)
(2, 4, 6, 8, 10)
(10,)
(1, 2, 5, 7, 9, 2, 4, 6, 8, 10, 11, 13, 15)
The min value is  1
The max value is  10

In [ ]:
#17. Write a function called “check_duplicates” that takes a list and returns true if 
#there is any element that appears more than once. Also find the frequency of that 
#element. The original list should not be modified.
def check_duplicates():
  list1=input("Enter a list:")
  list2=[]
  
  for n in list1:
    if n in list2:
      print("true")
      list2.append(n)
      a=list2.count(n)
      print(n," is present in list ",a ,"times")
    else :
       list2.append(n)
      
check_duplicates()

Enter a list:[6,8,4,6,4]
true
,  is present in list  2 times
true
,  is present in list  3 times
true
6  is present in list  2 times
true
,  is present in list  4 times
true
4  is present in list  2 times

In [ ]:
#19. Write a menu driven program to perform the following functions on strings:
#a. Find the length of string
#b.return max of three strings
#c. Accept a string and replace every successive character with ‘#’ ExampleFor Given string ‘Hello World’ returned string is ‘H#l#o W#r#d’.
#d. Find number of words in the given string
str_1=input("Enter the string: ")
length=len(str_1)
print(length)
new
for i in str_1:
  if a%2==0 in str_1[a]:
    print("#")

Enter the string: run
3

In [ ]:
#20. Write a Python program to perform the following using list:
#a. Check if all elements in list are numbers or not
#b. If it is a numeric list, then count number of odd values in it
#c. If list contains all Strings, then display largest String in the list
list1=[5,4,3,1,5]
for i in list1:
  if type(i)==int or type(i)==float:
    #print("All elements are numeric")
    continue
  else:
    print("All elements are not numeric")
    break

list2=[]
for i in list1:
  if i%2==0:
    continue
  else:
    list2.append(i)
print(list2)
a=len(list2)
print("The num of odd values in list1 is ",a)

All elements are not numeric
All elements are numeric

TypeError: ignored

In [ ]:
#d. Display list in reverse form
#e. Find a specified element in list
#f. Remove the specified element
new=list1[::-1]
print(new)
a=int(input("Enter the num you want to find"))
print(list1.index(a))
b=int(input("Enter the num you want to remove"))
list1.remove(b)
print(list1)

[5, 1, 3, 4]
1
[4, 3, 1]